.Navbar {
  --navbar-icon-size-sm: 45px;
  --navbar-icon-size-md: 50px;

  @apply fixed z-50;
  @apply top-0 left-0;
  @apply bg-theme-grey-dark;

  @screen max-md {
    @apply w-full;
    height: var(--navbar-h-sm);
  }

  @screen md {
    @apply h-full;
    width: var(--navbar-w-md);
  }
}

.NavbarInner {
  @apply box-border;
  @apply flex h-full;
  @apply items-center;
  @apply justify-between;

  @screen max-md {
    @apply flex-row;
    @apply px-4;
  }

  @screen md {
    @apply flex-col;
    @apply py-6;
  }
}

.NavbarIcon {
  @apply block m-0;
  @apply box-border;

  @screen max-md {
    width: var(--navbar-icon-size-sm);
    height: var(--navbar-icon-size-sm);
  }

  @screen md {
    width: var(--navbar-icon-size-md);
    height: var(--navbar-icon-size-md);
  }
}

.NavbarIconSvg {
  @apply w-full;
  @apply h-full;
}

.NavbarLogoIcon,
.NavbarCodeIcon {
  @extend .NavbarIcon;
}

.NavbarLogoIcon {
  @apply text-theme-green;
  @apply p-0;
}

.NavbarCodeIcon {
  @apply text-white;
  @apply p-1.5;
}

.NavbarLogoIconSvg,
.NavbarCodeIconSvg {
  @extend .NavbarIconSvg;
}
