@import "globals.css";

html,
body {
  @apply m-0;
  @apply p-0;
}

html {
  @apply bg-gray-100;
}

body {
  @screen max-md {
    padding-top: var(--navbar-h-sm);
  }

  @screen md {
    padding-left: var(--navbar-w-md);
  }
}

main {
  @apply p-6;
  @screen md {
    @apply p-8;
  }
}

nav {
  @apply fixed;
  @apply top-0 left-0;
  @apply bg-gray-900;

  @screen max-md {
    @apply w-full;
    height: var(--navbar-h-sm);
  }

  @screen md {
    @apply h-full;
    width: var(--navbar-w-md);
  }
}

h1,
p,
a,
button {
  &:first-child {
    @apply mt-0;
  }

  &:last-child {
    @apply mb-0;
  }
}

h1 {
  @apply text-3xl;
  @apply font-bold;

  @screen md {
    @apply text-4xl;
  }
}

p,
a,
button {
  @apply text-sm;
  @apply font-normal;

  @screen md {
    @apply text-base;
  }
}
