.ProjectCards {
  @apply grid gap-7;
  @apply grid-cols-1;
  grid-auto-rows: 1fr;

  @screen md {
    @apply gap-9;
    @apply grid-cols-2;
  }

  @screen lg {
    @apply grid-cols-3;
  }

  @screen xl {
    @apply grid-cols-4;
  }
}

.ProjectCard {
  --pcard-sub-title-w-min: 100px;
  --pcard-text-title-w-max: 270px;

  @apply m-0;
  @apply relative;
  @apply bg-white;
  @apply rounded-2xl no-underline;
}

.ProjectCardInner {
  @apply flex flex-col justify-between;
  @apply box-border h-full;
  @apply p-5;
}

.ProjectCardContent {
  @apply mt-5;
}

.ProjectCardContentInner {
  @apply flex justify-between;
}

.ProjectCardContentTop {
  @extend .ProjectCardContentInner;
}

.ProjectCardContentBottom {
  @extend .ProjectCardContentInner;
  @apply items-start;
  @apply mt-1;
}

.ProjectCardContentText,
.ProjectCardContentTitle,
.ProjectCardContentSubtitle {
  @apply m-0;
}

.ProjectCardContentText,
.ProjectCardContentTitle {
  max-width: var(--pcard-text-title-w-max);
  @apply pr-3;
}

.ProjectCardContentSubtitle {
  @apply flex items-end justify-center;
  @apply font-semibold leading-none;
  &:last-child {
    @apply mb-0.35e;

    @screen md {
      @apply mb-0.4e;
    }
  }
}

.ProjectCardContentText {
  @apply font-medium;
  &:first-child {
    @apply mt-0.35e;

    @screen md {
      @apply mt-0.4e;
    }
  }
}

.ProjectCardAreasSize,
.ProjectCardContentSubtitle {
  min-width: var(--pcard-sub-title-w-min);
}

.ProjectCardIcon {
  @apply block mr-1.5;
  @apply w-4.5 h-4.5;
}

.ProjectCardChip {
  @apply bg-theme-green-light;
  @apply rounded-xl box-border;
  @apply p-3;
}

.ProjectCardChipValue {
  @apply flex items-center justify-center;
  @apply text-theme-grey-dark;
  @apply text-sm;
}

.ProjectCardCoords,
.ProjectCardAreasSize {
  @extend .ProjectCardChip;
}

.ProjectCardCoords {
  @apply absolute z-10;
  @apply left-7 top-7;
}

.ProjectCardAreasSize {
  @apply inline-block;
  @apply relative;
  @apply py-2;
}

.ProjectCardCoordsValue,
.ProjectCardAreasSizeValue {
  @extend .ProjectCardChipValue;
}
